* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Lato",sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5;
}

.text-uppercase{
    text-transform: uppercase;
}

nav {
    font-family: "Montserrat",sans-serif;
    background-color: #2c3e4f;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#logo-box{
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo{
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links{
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding-right: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1ABC9B;
}
